


<main class="main">
  <div class="content">
    <h1>Todo List</h1>
    <input type="text" placeholder="Add new task" [(ngModel)]="newTask" />
    <button (click)="addTodo(newTask)">Add</button>

    <ul>
      <li *ngFor="let todoItem of todoList" [ngClass]="{'completed': todoItem.completed}">
        <!-- Use ngModel for two-way data binding on checkbox -->
        <input type="checkbox" [(ngModel)]="todoItem.completed" />
        <span [class.completed]="todoItem.completed">{{todoItem.task}}</span>
        <button (click)="deleteTask(todoItem.id)">Delete</button>

      </li>

    </ul>
  </div>
</main>

<router-outlet />
